body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.header {
  height: 80px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a0a0a;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
}

.navbar i {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 55px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 45px;
  border-radius: 5px;
  transition: background-color 0.9s ease;
  -webkit-transition: background-color 0.9s ease;
  -moz-transition: background-color 0.9s ease;
  -ms-transition: background-color 0.9s ease;
  -o-transition: background-color 0.9s ease;
}
.navbar li a:hover {
  background-color: #424141;
}
.header img {
  height: 70%;
  filter: invert(1);
  padding-left: 99px;
}
.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.login-link a:hover {
  color: #0056b3;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 320px;
  animation: fadeIn 0.5s ease-out;
  -webkit-animation: fadeIn 0.5s ease-out;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  margin-bottom: 15px;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
