/* Media Query para pantallas de 360px o menos */
@media (max-width: 1317px) {
  .hero-presentation h1 {
    font-size: 76px;
  }
  .hero-img {
    width: 500px;
    height: 600px;
  }
  .prueba {
  }
}
@media (max-width: 1200px) {
  .prueba {
    display: none;
  }
}
@media (max-width: 992px) {
  .hero-presentation {
    text-align: end;
    width: 100%;
    align-items: center;
  }

  .hero-presentation h1 {
    font-size: 50px;
  }

  .hero-presentation p {
    font-size: 40px;
    max-width: 60%;
    font-size: 16px;
    display: flex;
    text-align: center;
  }

  .button-container {
    justify-content: center;
  }

  .hero-img {
    display: none;
  }

  #about {
    font-size: 15px;
  }

  @media (max-width: 576px) {
    .prueba {
      display: none;
    }
    .navbar ul {
      background-color: black;
      width: 100%;
      height: calc(100vh - 80px);
      position: absolute;
      top: 80px;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(200%);
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      transition: all 0.8s ease-out;
      -webkit-transition: all 0.8s ease-out;
      -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
    }
    .navbar i {
      display: block;
    }

    #toggle-menu:checked + .navbar-list {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transition: all 0.8s ease-in;
      -webkit-transition: all 0.8s ease-in;
      -moz-transition: all 0.8s ease-in;
      -ms-transition: all 0.8s ease-in;
      -o-transition: all 0.8s ease-in;
    }

    #card {
      width: 300px;
    }
  }
  @media screen and (max-width: 360px) {
    .prueba {
      display: none;
    }
  }
}
