/* Slider */
.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: inline-block;
  animation: scroll 4s linear infinite;
  -webkit-animation: scroll 4s linear infinite;
}

.slider .slide {
  width: 200px;
}
.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 4));
    -webkit-transform: translateX(calc(-200px * 4));
    -moz-transform: translateX(calc(-200px * 4));
    -ms-transform: translateX(calc(-200px * 4));
    -o-transform: translateX(calc(-200px * 4));
  }
}
